/build*
/cmake-*
.DS_Store
/nori
/warptest
/ext_build
CMakeCache.txt
CMakeFiles
Makefile
*.cmake
.idea

# Exclude png and exr files in scene folder
scenes/**/*.png
scenes/**/*.exr

.vscode/settings.json
